/node_modules
/codes/weather-www/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/codes/weather-api/vendor
/codes/weather-www/vendor
.env
.env.backup
.phpunit.result.cache
.docker
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
codes/horizon.log
codes/weather-api/.gitignore
